*
!.gitignore
!*/
!*/**/*.cfg
!CKAN/*.ckan
!GameData\SRB-Plumes\README.MD
!saves/Career/persistent.*
!settings.cfg
!GameData\Morse\AdjustableModPanel\Plugins\PluginData\AdjustableModPanel\config.xml
!GameData\Morse\AdjustableModPanel\Plugins\AdjustableModPanel.dll