<?xml version="1.0" encoding="utf-8"?>
<config>
    <string name="module1">ToolbarController_NS</string>
    <string name="method1">toolbarControllerButton</string>
    <bool name="hashNeeded1">0</bool>
    <int name="scenes1">0</int>
    <bool name="pinned1">0</bool>
    <string name="module2">AdjustableModPanel</string>
    <string name="method2">OpenMainWindow</string>
    <bool name="hashNeeded2">0</bool>
    <int name="scenes2">-127</int>
    <bool name="pinned2">0</bool>
    <string name="module3">Kopernicus</string>
    <string name="method3">ShowToolbarGUI</string>
    <bool name="hashNeeded3">0</bool>
    <int name="scenes3">-64</int>
    <bool name="pinned3">0</bool>
    <string name="module4">Scatterer</string>
    <string name="method4">ShowToolbarGUI</string>
    <bool name="hashNeeded4">0</bool>
    <int name="scenes4">-64</int>
    <bool name="pinned4">0</bool>
    <string name="module5">TUFX</string>
    <string name="method5">configGuiEnable</string>
    <bool name="hashNeeded5">0</bool>
    <int name="scenes5">63</int>
    <bool name="pinned5">0</bool>
    <string name="module6">StageRecovery_NS</string>
    <string name="method6">stageControlButton</string>
    <bool name="hashNeeded6">0</bool>
    <int name="scenes6">24</int>
    <bool name="pinned6">0</bool>
    <string name="module7">CTB_Toggle_ns</string>
    <string name="method7">CTBToggle</string>
    <bool name="hashNeeded7">0</bool>
    <int name="scenes7">0</int>
    <bool name="pinned7">0</bool>
    <string name="module8">CTB_ClearInputLocks_ns</string>
    <string name="method8">ClearInputLocks</string>
    <bool name="hashNeeded8">0</bool>
    <int name="scenes8">0</int>
    <bool name="pinned8">0</bool>
    <string name="module9">TextureReplacer</string>
    <string name="method9">Enable</string>
    <bool name="hashNeeded9">0</bool>
    <int name="scenes9">0</int>
    <bool name="pinned9">0</bool>
    <string name="module10">EVEManager</string>
    <string name="method10">OpenEditor</string>
    <bool name="hashNeeded10">0</bool>
    <int name="scenes10">0</int>
    <bool name="pinned10">0</bool>
    <string name="module11">DistantObject</string>
    <string name="method11">onAppLauncherTrue</string>
    <bool name="hashNeeded11">0</bool>
    <int name="scenes11">0</int>
    <bool name="pinned11">0</bool>
    <string name="module12">xScience</string>
    <string name="method12">xScienceButton1</string>
    <bool name="hashNeeded12">0</bool>
    <int name="scenes12">63</int>
    <bool name="pinned12">0</bool>
    <string name="module13">xScience2</string>
    <string name="method13">xScienceButton2</string>
    <bool name="hashNeeded13">0</bool>
    <int name="scenes13">6</int>
    <bool name="pinned13">0</bool>
    <string name="module14">PlanetShine</string>
    <string name="method14">&lt;UpdateToolbarStock&gt;b__10_0</string>
    <bool name="hashNeeded14">0</bool>
    <int name="scenes14">0</int>
    <bool name="pinned14">0</bool>
    <string name="module15">EngineLight</string>
    <string name="method15">EnglineLightBtn</string>
    <bool name="hashNeeded15">0</bool>
    <int name="scenes15">0</int>
    <bool name="pinned15">0</bool>
    <string name="module16">Waterfall</string>
    <string name="method16">OnToolbarButtonToggle</string>
    <bool name="hashNeeded16">0</bool>
    <int name="scenes16">0</int>
    <bool name="pinned16">0</bool>
    <string name="module17">BetterTimeWarp_NS</string>
    <string name="method17">betterTimeWarpButton</string>
    <bool name="hashNeeded17">0</bool>
    <int name="scenes17">2</int>
    <bool name="pinned17">0</bool>
    <string name="module18">Trajectories_NS</string>
    <string name="method18">TrajectoriesButton</string>
    <bool name="hashNeeded18">0</bool>
    <int name="scenes18">6</int>
    <bool name="pinned18">0</bool>
    <string name="module19">LazyPainter</string>
    <string name="method19">ToggleGui</string>
    <bool name="hashNeeded19">0</bool>
    <int name="scenes19">24</int>
    <bool name="pinned19">0</bool>
    <string name="module20">Chatterer</string>
    <string name="method20">UIToggle</string>
    <bool name="hashNeeded20">0</bool>
    <int name="scenes20">4</int>
    <bool name="pinned20">0</bool>
    <string name="module21">TacStickyControls_NS</string>
    <string name="method21">tacStikyControlsButton</string>
    <bool name="hashNeeded21">0</bool>
    <int name="scenes21">2</int>
    <bool name="pinned21">0</bool>
    <string name="module22">KRASH_NS</string>
    <string name="method22">krashButton</string>
    <bool name="hashNeeded22">0</bool>
    <int name="scenes22">24</int>
    <bool name="pinned22">0</bool>
    <string name="module23">DynamicBatteryStorage</string>
    <string name="method23">OnToolbarButtonToggle</string>
    <bool name="hashNeeded23">0</bool>
    <int name="scenes23">24</int>
    <bool name="pinned23">0</bool>
    <string name="module24">KerbalActuators</string>
    <string name="method24">ToggleGUI</string>
    <bool name="hashNeeded24">0</bool>
    <int name="scenes24">0</int>
    <bool name="pinned24">0</bool>
    <string name="module25">RealChute</string>
    <string name="method25">Show</string>
    <bool name="hashNeeded25">0</bool>
    <int name="scenes25">0</int>
    <bool name="pinned25">0</bool>
    <string name="module26">TransferWindowPlanner</string>
    <string name="method26">onAppLaunchToggleOn</string>
    <bool name="hashNeeded26">0</bool>
    <int name="scenes26">-1</int>
    <bool name="pinned26">0</bool>
    <string name="module27">JanitorsCloset</string>
    <string name="method27">&lt;OnGuiAppLauncherReady&gt;m__0</string>
    <bool name="hashNeeded27">0</bool>
    <int name="scenes27">24</int>
    <bool name="pinned27">0</bool>
    <int name="count">27</int>
</config>