<?xml version="1.0" encoding="utf-8"?>
<config>
    <string name="module1">ToolbarController_NS</string>
    <string name="method1">toolbarControllerButton</string>
    <bool name="hashNeeded1">0</bool>
    <int name="scenes1">0</int>
    <bool name="pinned1">0</bool>
    <string name="module2">AdjustableModPanel</string>
    <string name="method2">OpenMainWindow</string>
    <bool name="hashNeeded2">0</bool>
    <int name="scenes2">-127</int>
    <bool name="pinned2">0</bool>
    <string name="module3">Kopernicus</string>
    <string name="method3">ShowToolbarGUI</string>
    <bool name="hashNeeded3">0</bool>
    <int name="scenes3">-64</int>
    <bool name="pinned3">0</bool>
    <string name="module4">Scatterer</string>
    <string name="method4">ShowToolbarGUI</string>
    <bool name="hashNeeded4">0</bool>
    <int name="scenes4">-64</int>
    <bool name="pinned4">0</bool>
    <string name="module5">TUFX</string>
    <string name="method5">configGuiEnable</string>
    <bool name="hashNeeded5">0</bool>
    <int name="scenes5">63</int>
    <bool name="pinned5">0</bool>
    <string name="module6">StageRecovery_NS</string>
    <string name="method6">stageControlButton</string>
    <bool name="hashNeeded6">0</bool>
    <int name="scenes6">0</int>
    <bool name="pinned6">0</bool>
    <string name="module7">CTB_Toggle_ns</string>
    <string name="method7">CTBToggle</string>
    <bool name="hashNeeded7">0</bool>
    <int name="scenes7">0</int>
    <bool name="pinned7">0</bool>
    <string name="module8">CTB_ClearInputLocks_ns</string>
    <string name="method8">ClearInputLocks</string>
    <bool name="hashNeeded8">0</bool>
    <int name="scenes8">0</int>
    <bool name="pinned8">0</bool>
    <string name="module9">TransferWindowPlanner</string>
    <string name="method9">onAppLaunchToggleOn</string>
    <bool name="hashNeeded9">0</bool>
    <int name="scenes9">-1</int>
    <bool name="pinned9">0</bool>
    <string name="module10">TextureReplacer</string>
    <string name="method10">Enable</string>
    <bool name="hashNeeded10">0</bool>
    <int name="scenes10">0</int>
    <bool name="pinned10">0</bool>
    <string name="module11">EVEManager</string>
    <string name="method11">OpenEditor</string>
    <bool name="hashNeeded11">0</bool>
    <int name="scenes11">0</int>
    <bool name="pinned11">0</bool>
    <string name="module12">DistantObject</string>
    <string name="method12">onAppLauncherTrue</string>
    <bool name="hashNeeded12">0</bool>
    <int name="scenes12">0</int>
    <bool name="pinned12">0</bool>
    <string name="module13">xScience</string>
    <string name="method13">xScienceButton1</string>
    <bool name="hashNeeded13">0</bool>
    <int name="scenes13">63</int>
    <bool name="pinned13">0</bool>
    <string name="module14">xScience2</string>
    <string name="method14">xScienceButton2</string>
    <bool name="hashNeeded14">0</bool>
    <int name="scenes14">6</int>
    <bool name="pinned14">0</bool>
    <int name="count">14</int>
</config>